    .circle {
    position: absolute;
    top: -4rem;
    left: -5rem;
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    background-color: #eaeaea;
    overflow: hidden;
    border: 2rem solid orangered; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
    z-index: 0;
  }

  
  .circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  *{
    background-color: #1E2843;
    z-index: 0;

  }
  .brand{
    float: right;
    margin-right: 3rem;
    text-decoration: none;
    margin-top: 3rem;
    font-size: larger;
  }

  .title{
    display: flex;
    position: absolute;
    top: 10rem;
    left: 60rem;
    flex-direction: column;
    font-size: xx-large;

  }

  .title h1{
    color: orangered;
    font-family: "Pacifio",cursive;
    margin: 0;
  }

.heading{
    font-size: 7rem;
}

.horizontal-line1{
    position: absolute;
    top:30rem;
    color: wheat;
    width: 50%;
    border: 5px solid black;
    z-index: -1;
    
}
.horizontal-line2{
    position: absolute;
    top:31rem;
    color: wheat;
    width: 50%;
    border: 3px solid black;
    z-index: -1;
    
}
.horizontal-line3{
    position: absolute;
    top:32rem;
    color: wheat;
    width: 50%;
    border: 1px solid black;
    z-index: -1;
    
}
.card1{
    position: absolute;
    top: 35rem;
    left: 5rem;
    border: none;
    height: 5rem; 
    width: 15rem;
    color: #07142f;
}
.card2{
    position: absolute;
    top: 15.5rem;
    left: 30rem;
    border: none;
    height: 5rem; 
    width: 15rem;
    color: #07142f;
}
.card3{
    position: absolute;
    top: -4rem;
    left: 55rem;
    border: none;
    height: 5rem; 
    width: 15rem;
    color: #07142f;
}

.card-h1{
    color: orangered;
    background-color: #07142f;
}

.card-body{
    background-color: #07142f;
    border: none;
}

.card-footer{
    border: none;
}

.card-second-text{
    color: white;
    background-color: #07142f;

}

.footer{
    background-color: orangered;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 2rem;
}

footer.footer{
    background-color: orangered;
}

.bi{
    color: white;
    background-color: orangered;
    z-index: 1;
    font-size: larger;
}